$dark:(
	$blue-100: #CAF0F8,
	$blue-200: #ADE8F4,
	$blue-300: #90E0EF,
	$blue-400: #48CAE4,
	$blue-500: #00B4D8,
	$blue-600: #0096C7,
	$blue-700: #0077B6,
	$blue-800: #023E8A,
	$blue-900: #03045E,
	$red-50: #FFF0F3,
	$red-100: #FFCCD5,
	$red-200: #FFB3C1,
	$red-300: #FF8FA3,
	$red-400: #FF758F,
	$red-500: #FF4D6D,
	$red-600: #C9184A,
	$red-700: #A4133C,
	$red-800: #800F2F,
	$red-900: #590D22,
	$yellow-50: #FFEA00,
	$yellow-100: #FFDD00,
	$yellow-200: #FFD000,
	$yellow-300: #FFC300,
	$yellow-400: #FFB700,
	$yellow-500: #FFAA00,
	$yellow-600: #FFA200,
	$yellow-700: #FF9500,
	$yellow-800: #FF8800,
	$yellow-900: #FF7B00,
	$gray-100: #F8F9FA,
	$gray-200: #E9ECEF,
	$gray-300: #DEE2E6,
	$gray-400: #CED4DA,
	$gray-500: #ADB5BD,
	$gray-600: #6C757D,
	$gray-700: #495057,
	$gray-800: #343A40,
	$gray-900: #212529,
	$white: #ffffff,
	$background: #F8F9FA,
	$primary-button-background: #0096C7,
	$primary-button-color: #ffffff,
	$secondary-button-background: #ffffff,
	$secondary-button-color: #ffffff,
);

$light:(
	$blue-100: #CAF0F8,
	$blue-200: #ADE8F4,
	$blue-300: #90E0EF,
	$blue-400: #48CAE4,
	$blue-500: #00B4D8,
	$blue-600: #0096C7,
	$blue-700: #0077B6,
	$blue-800: #023E8A,
	$blue-900: #03045E,
	$red-50: #FFF0F3,
	$red-100: #FFCCD5,
	$red-200: #FFB3C1,
	$red-300: #FF8FA3,
	$red-400: #FF758F,
	$red-500: #FF4D6D,
	$red-600: #C9184A,
	$red-700: #A4133C,
	$red-800: #800F2F,
	$red-900: #590D22,
	$yellow-50: #FFEA00,
	$yellow-100: #FFDD00,
	$yellow-200: #FFD000,
	$yellow-300: #FFC300,
	$yellow-400: #FFB700,
	$yellow-500: #FFAA00,
	$yellow-600: #FFA200,
	$yellow-700: #FF9500,
	$yellow-800: #FF8800,
	$yellow-900: #FF7B00,
	$gray-100: #F8F9FA,
	$gray-200: #E9ECEF,
	$gray-300: #DEE2E6,
	$gray-400: #CED4DA,
	$gray-500: #ADB5BD,
	$gray-600: #6C757D,
	$gray-700: #495057,
	$gray-800: #343A40,
	$gray-900: #212529,
	$white: #ffffff,
	$background: #F8F9FA,
	$primary-button-background: #0096C7,
	$primary-button-color: #ffffff,
	$secondary-button-background: #ffffff,
	$secondary-button-color: #ffffff,
);

$core:(
	$border-1: 4px,
	$border-2: 8px,
	$border-3: 12px,
	$border-4: 16px,
	$shadow-1: 0 0 0 1px gray,
	$shadow-2: 0 0 0 2px red,
	$space-1: 12px,
	$space-2: 16px,
	$space-3: 24px,
);
